// ========================================
// variables
// ========================================

$default-font: 'Inter', sans-serif;

$white: #fff;
$grey-light: #f4f4f4;
$grey-mid: #eaeaea;
$black: #000;

$dark-blue: rgb(6, 0, 55);

$transition-primary: 300ms ease-in-out;

$resume-gap: 20px;
