// ========================================
// resume
// ========================================

@page {
	size: A4;
	margin: 0;
}

body {
	background-color: $grey-mid;
	font-family: 'Inter', sans-serif;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

.resume {
	width: 210mm;
	height: 297mm;
	margin: 20mm auto;
	padding: 40px;
	background-color: $white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume__section {
	margin-bottom: $resume-gap;
}

.resume__top {
	display: grid;
	grid-template-columns: 140px 1fr;
	align-items: center;
	column-gap: $resume-gap;
}

.resume__photo {
	height: 140px;
}

.resume__position {
	margin-bottom: 8px;
}

.resume__links {
	display: grid;
	grid-template-columns: 220px 230px;
}

.resume__contact-icon {
	margin-right: 8px;
	transform: translateY(3px);
	display: inline-block;
}

.resume__main {
	display: grid;
	grid-template-columns: 1fr 180px;
	column-gap: $resume-gap;
}

.resume__column {
	> :not(:last-child) {
		margin-bottom: $resume-gap;
	}
}

.module__heading {
	margin-bottom: 8px;
	display: inline-block;
}

.module__list {
	padding-left: 14px;
}

.module__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	&::before {
		content: '';
		height: 2px;
		width: 5px;
		position: absolute;
		top: 9px;
		left: -12px;
		background-color: rgba($black, 0.3);
	}
}

.module__progress-bar {
	position: relative;
	height: 8px;
	width: 110px;
	border-radius: 2px;
	border: 1px solid $black;
}

.module__progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba($black, 0.3);
}

.module__progress--full {
	width: 100%;
}

.module__progress--almost-full {
	width: 85%;
}

.road-item {
	position: relative;
	padding: 0 0 12px 40px;
	&::before {
		content: '';
		height: 8px;
		width: 8px;
		position: absolute;
		top: 6px;
		left: 16px;
		background-color: rgba($black, 0.3);
		border-radius: 100vmax;
	}
	&::after {
		content: '';
		height: calc(100% - 16px);
		width: 2px;
		position: absolute;
		top: 18px;
		left: 18.5px;
		background-color: rgba($black, 0.3);
	}
	&:last-of-type {
		padding-bottom: 0;
	}
}

.road-item--no-line {
	&::after {
		content: unset;
	}
}

.road-item__top {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.road-item__time {
	color: rgba($black, 0.8);
}
